<html>
    <head>
        <title>P&aacute;gina Final Anulación</title>
    </head>
    <body>
        <fieldset>
            <legend><b>Resultado Final</b></legend>
            <br>
            tokenWebpayNullify = {{tokenWebpayNullify}}<br>
            authorizationCode = {{authorizationCode}}<br>
            authorizationDate = {{authorizationDate}}<br>
            balance = {{balance}}<br>
            nullifiedAmount = {{nullifiedAmount}}<br>
            error = {{error}}<br>
        </fieldset>
    </body>
</html>
